/***** GENERAL STYLING *****/
body {
    margin: 0%  
}

/* Heading 1 elements */
h1 {
    font-family: 'crimson pro', serif; 
    text-align: left; 
    margin-top: 3%; 
    color: #509EF3; 
}

h2 {
    font-family: 'crimson pro', serif; 
    text-align: left; 
    color: #509EF3; 
}

h3 {
    font-family: 'crimson pro', serif;
    text-align: left; 
    color: #509EF3; 
}

/* Styling for portfolio title text */
.white-text {
    color: #fff;
}

/* Paragraph elements */
p {
    font-family: Calibri;
    text-align: justify;
    letter-spacing: 1px; 
    font-size: 17px;
    padding-left: 0px;
    padding-right: 50px; 
}

/***** NAVBAR STYLING *****/
.Navbar {
    overflow: hidden; 
    background-color: #ded1bd; 
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1; 
    -webkit-animation: moveNav 5s; 
    animation: moveNav 5s; 
}


/* Navbar links */
.Navbar a {
    float: left; 
    display: block;
    color: black; 
    padding: 14px 16px; 
    text-decoration: none;
    font-family: CALIBRI; 
    font-size: 20px; 
    font-weight: bold;
    transition-duration: 0.3s; 
    -webkit-transition-duration: 0.3s; 
    text-align: center; 
    position: relative; 
    -webkit-animation: moveNavText 2.75s; 
    animation: moveNavText 3.75s; 
}

/* Navbar hover effects */
.Navbar a:hover {
    background-color: #509EF3;
    color: black; 
    font-weight: bold; 
    border-color: black;
    opacity: 0.8;
}

